@import url(./base.css);

main {
  background: linear-gradient(var(--dark-blue), hsl(216, 24%, 12%));
  box-shadow: var(--box-shadow-bg) 0px 0px 30px,
    var(--box-shadow-bg) 0px 0px 30px;
  border-radius: 12px;
  padding: 32px 28px;
  max-width: 360px;
}

.rating-state img {
  background-color: var(--bg-button);
  box-shadow: var(--box-shadow-bg);
  padding: 16px;
  border-radius: 50px;
}

.rating-state > button {
  background-color: var(--bg-accent);
  width: 100%;
  padding: 14px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.rating-state > button:hover {
  background-color: var(--white);
  color: var(--bg-accent);
}

.rating-state > button:active {
  box-shadow: rgb(182, 182, 182) 3px 3px 6px 0px inset,
  rgba(182, 182, 182, 0.5) -3px -3px 6px 1px inset;
}

.eval-buttons {
  display: flex;
  justify-content: space-between;
  margin: 26px 0;
}

.eval-buttons button {
  height: 46px;
  width: 46px;
  background-color: var(--bg-button);
  color: var(--light-grey);
}

.eval-buttons button:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}

.eval-buttons button:active {
  box-shadow: inset 0px 0px 18px 0px rgba(115, 59, 10, 0.4);
}

.active {
  background-color: var(--bg-accent) !important;
  color: var(--white) !important;
}

.d-none {
  display: none;
}

.thank-state {
  text-align: center;
}

.thank-state .selected {
  background-color: var(--bg-button);
  display: inline-block;
  margin: 18px 0;
  border-radius: 50px;
  padding: 6px 10px;
  color: var(--bg-accent);
}
